<h1>iLibrary</h1>


<%= form_tag('/home/index', method: "GET") do %> 
<%= text_field_tag :search, params[:search] %>
<%= select_tag :category, options_for_select([['All'], ['Books'], ['Magazines'], ['Articles']]) %> 
<%= submit_tag :filter%> 
<% end %>


<% @books.each do |book| %>
 
		<address>
			<strong><%= book.title%></strong><br>
			Code:  <%= book.code%><br>
			Pages : <%= book.num_page%><br>
			<abbr title="Themes">Themes:</abbr> <%= book.themes %>
		</address>

 <% end %>

 <% @magazines.each do |magazine| %>
 
		<address>
			<strong><%= magazine.title%></strong><br>
			Code:  <%= magazine.code%><br>
			Pages : <%= magazine.num_page%><br>
			<abbr title="Themes">Themes:</abbr> <%= magazine.themes %>
		</address>

 <% end %>


<% @articles.each do |article| %>
 
		<address>
			<strong><%= article.title%></strong><br>
			Code:  <%= article.code%><br>
			Pages : <%= article.num_page%><br>
			<abbr title="Themes">Themes:</abbr> <%= article.themes %>
		</address>

 <% end %>