
<p>
  <strong>Code:</strong>
  <%= @magazine.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @magazine.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @magazine.review %>
</p>

<p>
  <strong>Num page:</strong>
  <%= @magazine.num_page %>
</p>

<p>
  <strong>Source:</strong>
  <%= @magazine.source %>
</p>

<p>
  <strong>Themes:</strong>
  <%= @magazine.themes %>
</p>

<%= link_to 'Back', home_index_path %>