<blockquote>
<h5>
  <strong>Code:</strong>
  <%= @magazine.code %>
</h5>

<h5>
  <strong>Title:</strong>
  <%= @magazine.title %>
</h5>

<h5>
  <strong>Review:</strong>
  <%= @magazine.review %>
</h5>

<h5>
  <strong>Num page:</strong>
  <%= @magazine.num_page %>
</h5>

<h5>
  <strong>Source:</strong>
  <%= @magazine.source %>
</h5>

<h5>
  <strong>Themes:</strong>
  <%= @magazine.themes %>
</h5>
</blockquote>

<%= link_to 'Back', home_index_path %>