<blockquote>
<h5>
  <strong>Code:</strong>
  <%= @book.code %>
</h5>

<h5>
  <strong>Title:</strong>
  <%= @book.title %>
</h5>

<h5>
  <strong>Review:</strong>
  <%= @book.review %>
</h5>

<h5>
  <strong>Num page:</strong>
  <%= @book.num_page %>
</h5>

<h5>
  <strong>Book type:</strong>
  <%= @book.book_type %>
</h5>

<h5>
  <strong>Source:</strong>
  <%= @book.source %>
</h5>

<h5>
  <strong>Themes:</strong>
  <%= @book.themes %>
</h5>
</blockquote>
<%= link_to 'Back', home_index_path %>
