
<p>
  <strong>Code:</strong>
  <%= @article.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @article.review %>
</p>

<p>
  <strong>Num page:</strong>
  <%= @article.num_page %>
</p>

<p>
  <strong>Themes:</strong>
  <%= @article.themes %>
</p>


<%= link_to 'Back', home_index_path %>
