<blockquote>
<h5>
  <strong>Code:</strong>
  <%= @article.code %>
</h5>

<h5>
  <strong>Title:</strong>
  <%= @article.title %>
</h5>

<h5>
  <strong>Review:</strong>
  <%= @article.review %>
</h5>

<h5>
  <strong>Num page:</strong>
  <%= @article.num_page %>
</h5>


<h5>
  <strong>Themes:</strong>
  <%= @article.themes %>
</h5>
</blockquote>

<%= link_to 'Back', home_index_path %>
